/*scss*/

/*mordalの後ろの背景色を指定する*/
dialog::backdrop{
	background:rgba(0,0,0,.4);
  }
  
  /*bodyタグにこのクラスを付与することによって、モーダル時のスクロールを抑制している*/
  .is-scrollLock{
	 overflow:hidden;
   }
  
  /*スマホのスクロール防止*/
  html,
  body {
	overscroll-behavior-y: none;
  }
  
  .p-contents{
	//background-color: #a8a8a8;
	width:100vw;
	height:100vh;
	padding-top:50px;
  }
  
  .p-content{
	width:200px;
	height:100px;
	background: #fff;
	margin-left:50px; 
  }
  
  .p-mordal-content{
	width:300px;
	height:100px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .p-mordal__close{
	width:20px;
	height:20px;
	border-radius:50%;
	border-color:#000;
	position:absolute;
	right:20px;
	&::before{
	 content:'';
	  width:2px;
	  height:10px;
	  background-color:red;
	  position:absolute;
	  transform:rotate(135deg);
	  bottom:3px;
	}
	&::after{
	 content:'';
	  width:2px;
	  height:10px;
	  background-color:red;
	  position:absolute;
	  transform:rotate(45deg);
	  bottom:3px;
	  right:6px;
	}
  }
  
	.p-mordal__btn{
		width:300px;
		height:100px;
		background-color: #454D80;
		color:#fff;
		font-family: "Sawarabi Gothic", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size:24px;
	}
  
  /*以下は、spanタグに文字を入れておいてるクリーンリーダー的には読まれるけれど、表示されないという仕組みのために必要*/
  
  .visually-hidden {
	position: fixed !important;
	/* keep it on viewport */
	top: 0px !important;
	left: 0px !important;
	/* give it non-zero size, VoiceOver on Safari requires at least 2 pixels
	   before allowing buttons to be activated. */
	width: 4px !important;
	height: 4px !important;
	/* visually hide it with overflow and opacity */
	opacity: 0 !important;
	overflow: hidden !important;
	/* remove any margin or padding */
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	/* ensure no other style sets display to none */
	display: block !important;
	visibility: visible !important;
  }
