.p-box{
	width:300px;
	height:100px;
	background-color: #454D80;
	color:#fff;
	font-family: "Sawarabi Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:24px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position:relative;
	top:100px;
	//ふんわり出す
	opacity: 0;
	transform: translateY(100px);
	&::after{
		content:'';
		//top:8px;
		width: 0px;
		height: 2px;
		background-color: #454D80;
		display: inline-block;
		//position:absolute;
	}
	&:hover{
		color:#454D80;
		background: #fff;
		transition: all .2s;
		border:4px solid #454D80;
		&::after{
			width: 240px;
			transition:all 1s;
		}
	}
	&.is-animation{
		opacity: 1;
		transition: all 1s;
		transform: translateY(0);
	}
}