@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-box__test__wrapper{
	background-image: -moz-linear-gradient( 89deg, rgba(240,197,120,0.99608) 0%, rgb(224,178,98) 0%, rgb(224,178,98) 0%, rgb(153,102,51) 0%, rgb(204,153,51) 0%, rgb(204,153,102) 0%, rgb(0,36,59) 0%, rgb(2,91,146) 100%);
	background-image: -webkit-linear-gradient( 89deg, rgba(240,197,120,0.99608) 0%, rgb(224,178,98) 0%, rgb(224,178,98) 0%, rgb(153,102,51) 0%, rgb(204,153,51) 0%, rgb(204,153,102) 0%, rgb(0,36,59) 0%, rgb(2,91,146) 100%);
	background-image: -ms-linear-gradient( 89deg, rgba(240,197,120,0.99608) 0%, rgb(224,178,98) 0%, rgb(224,178,98) 0%, rgb(153,102,51) 0%, rgb(204,153,51) 0%, rgb(204,153,102) 0%, rgb(0,36,59) 0%, rgb(2,91,146) 100%);
	width: 754px;
	height: 306px;
	display: grid;
	place-items: center;
}