@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-footer__link{
	display: block;
	color: #fff;
	font-weight: 500;
	font-size: min(calc(24/va.$pc-design-width*100vw),calc(24 * va.$max-size));
	text-decoration: none;
}