@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-link-to__email-magazine{
	width:min(calc(640/va.$pc-design-width*100vw),calc(640 * va.$max-size));
	height:min(calc(119/va.$pc-design-width*100vw),calc(119 * va.$max-size));
	background-image: url('./img/free-btn.png');
	background-size: contain;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;

	//margin-bottom 64px - box-shadow(おおまか)10px = 54px
	bottom:min(calc(54/va.$pc-design-width*100vw),calc(54 * va.$max-size));
}