@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-online-courses{
	width:min(100%,va.$maxWidth);
	height:min(calc(2948/va.$pc-design-width*100vw),calc(2948 * va.$max-size));
	object-fit: cover;
	margin:0 auto;
	display: block;
}