@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-trick{
	width:min(100%,va.$maxWidth);
	height:min(calc(2879/va.$pc-design-width*100vw),calc(2879 * va.$max-size));
	object-fit: cover;
	margin:0 auto;
	display: block;
}